
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot de Atendimento Virtual</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h1>Chatbot de Atendimento Virtual</h1>
        </div>
        
        <div class="chat-messages" id="chat-messages">
            {% for message in chat_messages %}
                <div class="user-message">{{ message }}</div>
            {% endfor %}
        </div>

            <form action="/api" method="post">
                <input type="text" name="message" placeholder="Digite sua mensagem...">
                <button type="submit">Enviar</button>
            </form>

    </div>
    <div class="new-chat-button" id="new-chat-button">
        Novo Chat
    </div>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
</body>
</html>

