<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot de Atendimento Virtual</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h1>Chatbot de Atendimento Virtual</h1>
        </div>
        
        <div class="chat-messages" id="chat-messages">
            
            {% for message in chat_messages %}
            {% for msg in message %}
                {% if msg.user_message %}
                    <div class="user-message">
                        <strong>Usuário:</strong> {{ msg.user_message }}
                    </div>
                {% endif %}
                {% if msg.bot_response %}
                    <div class="bot-response">
                        <strong>Bot:</strong> {{ msg.bot_response }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
        




        <input type="text" id="message" placeholder="Digite sua mensagem...">
        <button onclick="enviarMensagem()">Enviar</button>



        <script>
            function atualizarMensagens(mensagem) {
                const chatMessages = document.getElementById("chat-messages");
                const messageElement = document.createElement("div");
                messageElement.classList.add("user-message");
                messageElement.innerText = mensagem;
                chatMessages.appendChild(messageElement);
            }
        
            function enviarMensagem() {
                const message = document.getElementById('message').value;
                const data = { "message": message };
        
                // Atualizar as mensagens no frontend
                atualizarMensagens(message);
        
                // Enviar a requisição AJAX
                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/api", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify(data));
        
                // Limpar a caixa de texto após enviar a mensagem
                document.getElementById('message').value = '';
            }
        
            document.getElementById('message').addEventListener('keypress', function (event) {
                if (event.key === 'Enter') {
                    enviarMensagem();
                }
            });
        </script>
        
        
    </div>
    <div class="new-chat-button" id="new-chat-button">
        Novo Chat
    </div>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
</body>
</html>
